html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    /*white-space: nowrap;*/
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.fieldset-legend {
    width: auto;
    background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1); /* Цвет фона */
    padding: 5px 10px; /* Поля */
    margin-left: 20px; /* Отступ слева */
    border-radius: 5px; /* Радиус скругления */
    font-family: arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(68,68,68);
}

.fieldset {
    border: 1px solid #333; /* Параметры рамки */
    border-radius: 5px; /* Радиус скругления */
    padding: 0 10px 10px 10px;
    margin-top: 10px; /* Отступ слева */
    margin-right: 10px; /* Отступ слева */
    display: inline;
}

.text-break {
    white-space: nowrap;
}

.nav-menu-button {
    position: relative;
    outline: none;
    background-color: rgb(175,250,200);
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(300% 350% at 150% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;
    display: table;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 5%;
}
.nav-menu-button:active {
    top: 1px;
    box-shadow: none;
}
.nav-menu-button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.nav-menu-button a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
}